<!DOCTYPE html>
{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	{{ category.name }}
{% endblock %}

{% block body_block %}
	<h1>{{ category.name }}</h1>
	<div>
		Obviously there is something different now...
		hey there partner! <br />
		<strong>{{ boldmessage }}>></strong><br />
	</div>
{% endblock %}
<!--
<html>
	<head>
		<title>Rango</title>
	</head>
	<body>
		<h1>Rango says...</h1>
		<div>
			Obviously there is something different now...
			hey there partner! <br />
			<strong>{{ boldmessage }}>></strong><br />
		</div>
		<div>
			<a href=/rango>Index</a><br />
		</div>
	</body>
</html>
--!>